<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form action="/login" method="POST">
        <label>User Email: </label><input type="text" id="UserMail" name="UserMail" ><br><br>
        <label>User Password: </label><input type="text" id="UserPass" name="UserPass" ><br><br>
        <input type="submit" value="Submit">
    </form>
    <br><br><br>
    <a href="./register">Register Now</a>
</body>
</html>